<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <h1>Let's Learn About Cookies!</h1>
    <h2 id="toc-section-1" (click)="onTocClick('section-1')">What are they?</h2>
    <h2 id="toc-section-2" (click)="onTocClick('section-2')">Etymology</h2>
    <h2 id="toc-section-3" (click)="onTocClick('section-3')">Description</h2>
    <h2 id="toc-section-4" (click)="onTocClick('section-4')">History</h2>
    <h2 id="toc-section-5" (click)="onTocClick('section-5')">Popular culture</h2>
  </mat-sidenav>
  <mat-sidenav-content #sidenavcontent class="sidenav-content">
    <h1>Let's Learn About Cookies!</h1>
    <h2 id="section-1">What are they?</h2>
    <p>
      A cookie is a baked or cooked food that is typically small, flat and sweet. It usually contains flour, sugar and
      some type of oil or fat. It may include other ingredients such as raisins, oats, chocolate chips, nuts, etc.
    </p>
    <p>
      In most English-speaking countries except for the United States and Canada, crisp cookies are called biscuits.
      Chewier biscuits are sometimes called cookies even in the United Kingdom.[3] Some cookies may also be named by
      their shape, such as date squares or bars.
    </p>
    <p>
      Cookies or biscuits may be mass-produced in factories, made in small bakeries or homemade. Biscuit or cookie
      variants include sandwich biscuits, such as custard creams, Jammie Dodgers, Bourbons and Oreos, with marshmallow
      or jam filling and sometimes dipped in chocolate or another sweet coating. Cookies are often served with beverages
      such as milk, coffee or tea. Factory-made cookies are sold in grocery stores, convenience stores and vending
      machines. Fresh-baked cookies are sold at bakeries and coffeehouses, with the latter ranging from small
      business-sized establishments to multinational corporations such as Starbucks.
    </p>
    <h2 id="section-2">Etymology</h2>
    <p>
      The word dates from 1730, Scottish usage, but the word meant "plain bun," rather than thin baked good, and so it
      is not certain whether it is the same word. From 1808, the word "cookie" is attested "...in the sense of "small,
      flat, sweet cake" in American English. The American use is derived from Dutch koekje "little cake," which is a
      diminutive of "koek" ("cake"), which came from the Middle Dutch word "koke".[5] Another claim is that the American
      name derives from the Dutch word koekje or more precisely its informal, dialect variant koekie[6] which means
      little cake, and arrived in American English with the Dutch settlement of New Netherland, in the early
      1600s.[citation needed]
    </p>
    <p>
      According to the Scottish National Dictionary, its Scottish name derives from the diminutive form (+ suffix -ie)
      of the word cook, giving the Middle Scots cookie, cooky or cu(c)kie. There was much trade and cultural contact
      across the North Sea between the Low Countries and Scotland during the Middle Ages, which can also be seen in the
      history of curling and, perhaps, golf.[citation needed]
    </p>
    <h2 id="section-3">Description</h2>
    <p>
      Cookies are most commonly baked until crisp or just long enough that they remain soft, but some kinds of cookies
      are not baked at all. Cookies are made in a wide variety of styles, using an array of ingredients including
      sugars, spices, chocolate, butter, peanut butter, nuts, or dried fruits. The softness of the cookie may depend on
      how long it is baked.
    </p>
    <p>
      A general theory of cookies may be formulated this way. Despite its descent from cakes and other sweetened breads,
      the cookie in almost all its forms has abandoned water as a medium for cohesion. Water in cakes serves to make the
      base (in the case of cakes called "batter"[7]) as thin as possible, which allows the bubbles – responsible for a
      cake's fluffiness – to better form. In the cookie, the agent of cohesion has become some form of oil. Oils,
      whether they be in the form of butter, vegetable oils, or lard, are much more viscous than water and evaporate
      freely at a much higher temperature than water. Thus a cake made with butter or eggs instead of water is far
      denser after removal from the oven.
    </p>
    <p>
      Oils in baked cakes do not behave as baking soda tends to in the finished result. Rather than evaporating and
      thickening the mixture, they remain, saturating the bubbles of escaped gases from what little water there might
      have been in the eggs, if added, and the carbon dioxide released by heating the baking powder. This saturation
      produces the most texturally attractive feature of the cookie, and indeed all fried foods: crispness saturated
      with a moisture (namely oil) that does not sink into it.
    </p>
    <h2 id="section-4">History</h2>
    <p>
      Cookie-like hard wafers have existed for as long as baking is documented, in part because they deal with travel
      very well, but they were usually not sweet enough to be considered cookies by modern standards.[8]
    </p>
    <p>
      Cookies appear to have their origins in 7th century AD Persia, shortly after the use of sugar became relatively
      common in the region.[9][1] They spread to Europe through the Muslim conquest of Spain. By the 14th century, they
      were common in all levels of society throughout Europe, from royal cuisine to street vendors.[citation needed]
    </p>
    <p>
      With global travel becoming widespread at that time, cookies made a natural travel companion, a modernized
      equivalent of the travel cakes used throughout history. One of the most popular early cookies, which traveled
      especially well and became known on every continent by similar names, was the jumble, a relatively hard cookie
      made largely from nuts, sweetener, and water.
    </p>
    <p>
      Cookies came to America through the Dutch in New Amsterdam in the late 1620s. The Dutch word "koekje" was
      Anglicized to "cookie" or cooky. The earliest reference to cookies in America is in 1703, when "The Dutch in New
      York provided...'in 1703...at a funeral 800 cookies...'"[10]
    </p>
    <p>
      The most common modern cookie, given its style by the creaming of butter and sugar, was not common until the 18th
      century.[11] Cookies may be "dunked" into a drink, especially tea, coffee, or milk, an approach which releases
      more flavour from confections by dissolving the sugars,[12] while also softening their texture. Dunking can be
      used to melt chocolate on biscuits to create a richer flavour.
    </p>
    <h2 id="section-5">Popular Culture</h2>
    <p>
      There are a number of slang usages of the term "cookie". The slang use of "cookie" to mean a person, "especially
      an attractive woman" is attested to in print since 1920.[22] The catchphrase "that's the way the cookie crumbles",
      which means "that's just the way things happen" is attested to in print in 1955.[23] Other slang terms include
      "smart cookie” and “tough cookie.” According to The Cambridge International Dictionary of Idioms, a smart cookie
      is “someone who is clever and good at dealing with difficult situations.” [24] The word "cookie" has been vulgar
      slang for "vagina" since 1970 in the US.[25] The word "cookies" is used to refer to the contents of the stomach,
      often in reference to vomiting (e.g., "pop your cookies" a 1960s expression, or "toss your cookies", a 1970s
      expression).[26] The expression "cookie cutter", in addition to referring literally to a culinary device to rolled
      cookie dough into shapes, is also used metaphorically to refer to items or things "having the same configuration
      or look as many others" (e.g., a "cookie cutter tract house") or to label something as "stereotyped or formulaic"
      (e.g., an action movie filled with "generic cookie cutter characters").[27]
    </p>
    <p>
    <p>
      Cookie Monster is a Muppet on the long-running children's television show Sesame Street who is best known for his
      voracious appetite for cookies and his famous eating phrases, such as "Me want cookie!", "Me eat cookie!" (or
      simply "COOKIE!"), and "Om nom nom nom" (said through a mouth full of food).
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
